<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!--Main Content-->
<main class="container">
  <div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>

<!DOCTYPE html>
<html>
  <head>
<meta content="en-us" http-equiv="Content-Language">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>MISSION STATEMENT</title>
<link href="app.css" rel="stylesheet" type="text/css">
</head>

<body>

<table align="left" cellspacing="1" style="float: left">
	<tr>
		<td style="width: 383px">
		<img alt="LOGO" height="134" src="images/LOGO1.png" style="float: left" width="300"></td>
    <img src="image1.png">
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="width: 383px">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="width: 383px">&nbsp;</td>
		<td>
		<h1>misssion Statement</h1>
		</td>
	</tr>
	<tr>
		<td style="width: 383px">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td style="height: 23px; width: 383px"></td>
		<td style="height: 23px">Upward and onward: Evolving and continuous 
		learning is the key to success in a deeply evolving industry. The key to 
		success is acknowledging and adopting new technologies while maintaing 
		the strong foundation built around software engineering.&nbsp; </td>
	</tr>
	<tr>
		<td style="height: 23px; width: 383px">&nbsp;</td>
		<td style="height: 23px">
		<img alt="deeplearning" height="540" src="image1.jpg" width="840"></td>
    <img src="LOGO1.png">
	</tr>
</table>

</body>



  
  
  
</div>
</main>
</html>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
  



 










